<div class="post-index">
<div class="jumbotron jumbotron-fluid">
      <div>{{#link-to 'post' post}}{{post.title}}{{/link-to}}</div>
      {{user.post.id}}
      {{#if post.editable}}
        <div><button class="btn btn-danger btn-sm" {{action 'deletePost'}}>Delete</button></div>
        {{#link-to 'post.edit' post}}
        <div><button class="btn btn-primary btn-sm">Update</button></div>
        {{/link-to}}
      {{/if}}
  </div>
</div>


{{outlet}}
