<form class="form-group" {{action 'save' on='submit'}}>
<lable>Title</lable>
  {{input
  class="form-control"
  value=post.title
  }}
<lable>Body</lable>
  {{input
  class="form-control"
  value=post.body
  }}

<button class='btn btn-default' type='submit'>Submit</button>
<button class='btn btn-danger' {{action 'cancel'}}>cancel</button>

</form>
