<div class="post-index">
  <p>{{#link-to 'post' post}}{{post.title}}{{/link-to}}</p>
  <button class="btn btn-danger" {{action 'deletePost'}}>Delete</button>
  <button class="btn btn-default">
    {{#link-to 'post.edit' post}}
    Update{{/link-to}}
  </button>

</div>
{{outlet}}
