@import 'bootstrap';
@import 'bootstrap/theme';
$container-green: rgb(83, 172, 83);
$peach: rgb(217, 95, 99);



.navbar {
  background-color: grey;
}

.container-fluid {
  background-color: $container-green;
}

.navbar-default .navbar-brand {
  color: black;
}

.navbar-right .navbar-brand {
  color: black;
}

.jumbotron-fluid {
  background-color: white;

}

.post-index {
  width: 50%;
}
