<h3 class="page-header">Phumbles</h3>


  <div class="jumbotron jumbotron-fluid">
    <h2>{{model.title}}</h2>
</div>
<div class="jumbotron jumbotron-fluid">
    <p>{{model.body}}</p>
</div>
{{#link-to 'posts'}}Back{{/link-to}}

{{outlet}}
