<h3 class="page-header">phumbles</h3>

{{#if 'isAuthenticated'}}
{{#link-to 'new' class='btn btn-default'}}Post{{/link-to}}
{{/if}}


{{#each model as |post|}}

  {{post-index post=post deletePost='deletePost'}}

{{/each}}
