<h2 class="page-header">users</h2>

<h3> Here are some other phumblr users from accross the globe</h3>
<ul>
{{#each model as |user|}}
  <li>{{user.email}}</li>
{{/each}}
</ul>
{{#link-to 'index'}}back{{/link-to}}
